*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
}

.tablas{
    display: flex;
    margin: 30px;
    gap: 20px;
    justify-content: space-around;
}

table, tr, th, td {
    border: 1px solid;
    padding: 3px;
}

.texto-chico{
    font-size: small;
    background-color: lightgray;
}
.texto-grande{
    font-size: x-large;
}

.color{
    color: green;
}
